.mainModuleContainer {
    min-height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainModule {
    width: 100%;
    max-width: 800px;
    height: 95vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mainPanel {
    border-radius: 5px;
    color: rgb(64, 76, 80);
    background-color: white;
    border-left: 1px solid rgb(10, 70, 90);
    border-bottom: 2px solid #00171F;
    width: 100%;
    height: 550px;
    max-width: 800px;

    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.09);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.09);
}

.navContainer {
    border-bottom: 1px solid rgb(197, 211, 214);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
    margin-top: 5px;
    font-family: 'Quicksand', sans-serif;

    @media screen and (max-width: 485px) {
        border: none;
    }
}

.icon {
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 25px;
}

.scrollingWrapper {
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 20px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    .card {
        pointer-events: all;
        cursor: pointer;
        margin-left: 10px;
        margin-right: 10px;
        flex: 0 0 auto;
        width: 80px;
        padding: 10px 10px;
        text-align: center;
        transition: 0.3s;

        &:hover {
            opacity: 0.7;
        } 

        p {
            font-size: 20px;
        }
    }
}

 #style6::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
 
#style6::-webkit-scrollbar {
    height: 5px;
    background-color: #F5F5F5;
}
 
#style6::-webkit-scrollbar-thumb {
    background-color: #003459;
    border-radius: 10px;
}

.underline {
    border-radius: 50px;
    width: 0px;
    transition: 0.3s;
    padding: 0px;
    margin-top: -8px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}

.activeTab {
    border-bottom: 3px solid #347ed8;
    width: 80%;
}

.generatedContainer {
    height: 300px;
}
