.mainModuleContainer {
    min-height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainModule {
    width: 100%;
    max-width: 800px;
    height: 95vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mainPanel {
    border-radius: 5px;
    color: #00171F;
    background-color: rgb(237, 249, 253);
    border-left: 1px solid rgb(10, 70, 90);
    border-bottom: 2px solid #00171F;
    width: 100%;
    height: 550px;
    max-width: 800px;

    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.09);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.09);
}
