.container {
    padding: 10px 40px;
    height: 100%;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answerContainer {
    height: 90%;
}

.loadingContainer {
    @extend .fadeIn;
    padding-top: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generateCta {
    outline: none;
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
    border:1px solid #566963;
    transition: 0.3s;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #44a395;
}
.generateCta:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}

.steps {
    list-style-type: upper-roman;
}

.generateActivityContainer {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 3px;
    height: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;

    p {
        @extend .fadeIn;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (max-width: 500px) {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 2px;
    }
}

.disabledCta {
    opacity: 0.7;
    pointer-events: none;
}

.fadeIn {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
