.container {
    padding: 10px 40px;
    border: thin solid red;
    flex: 1 1 auto;
}
.buttonContainer {
    bordeR: thin solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
